<div class="navigation-tabs-container">
  <div class="menu-container">
    <button
      [matMenuTriggerFor]="menu"
      mat-icon-button
      aria-label="account"
      class="account_button"
    >
      <mat-icon fontIcon="account_circle" class="account_icon"></mat-icon>
    </button>
    <mat-menu #menu="matMenu" class="menu">
      <button *ngIf="!isLoggedIn" mat-menu-item (click)="openLoginDialog()">
        Log in
      </button>
      <button *ngIf="!isLoggedIn" mat-menu-item (click)="openSignUpDialog()">
        Sign up
      </button>
      <button *ngIf="isLoggedIn" mat-menu-item (click)="logout()">
        Log out
      </button>
    </mat-menu>
  </div>
  <mat-tab-group #tabGroup (selectedIndexChange)="onTabChange($event)">
    <mat-tab label="Stays">
      <div class="stays-content">
        <app-header-bar [onSearch]="handleSearch"></app-header-bar>
        <app-room-list
          [checkInDate]="checkInDate"
          [checkOutDate]="checkOutDate"
          [guests]="guests"
          (openReservationsTab)="openReservationsTab()"
        ></app-room-list>
      </div>
    </mat-tab>
    <mat-tab label="My reservations">
      <div class="my-reservations-content">
        <app-reservation-list
          class="reservation-list"
          *ngIf="isReservationsTabActive && isLoggedIn"
        ></app-reservation-list>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
