<div>
  <mat-dialog-content>
    <form [formGroup]="loginForm" (ngSubmit)="onLogIn()" class="login-form">
      <h1 class="title">Log in</h1>
      <mat-form-field class="form-field">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" />
        <mat-error *ngIf="f['username'].invalid && !f['username'].untouched">
          <span *ngIf="f['username'].errors?.['required']"
            >Username is required</span
          >
          <span *ngIf="f['username'].errors?.['username']"
            >Invalid username format</span
          >
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-field">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" />
        <mat-error *ngIf="f['password'].invalid && !f['password'].untouched">
          <span *ngIf="f['password'].errors?.['required']"
            >Password is required</span
          >
          <span *ngIf="f['password'].errors?.['minlength']">
            Password must be at least 6 characters
          </span>
        </mat-error>
      </mat-form-field>

      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>
    </form>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-button (click)="onCancelLogin()">Cancel</button>
    <button mat-button (click)="onLogIn()" [disabled]="loginForm.invalid">
      Log in
    </button>
  </mat-dialog-actions>
</div>
